# Ignore Python virtual environment
.venv/

# Ignore Python cache files and folders
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*
coverage.json

# Ignore Python local editable package
*.egg-info/

# Ignore all folders under apps
apps/
downloads/
logs/

# Ignore device.json file
device.json
.hardware_version.json

.DS_Store
.cursor/
.agents/
.dartsnut/

*.swp
target/

openspec
