# Ignore Python virtual environment
venv0/

# Ignore Python cache files and folders
__pycache__/
*.py[cod]
*$py.class

# Ignore Python local editable package
*.egg-info/

# Ignore all folders under apps
apps/
downloads/

# Ignore device.json file
device.json
.hardware_version.json

.DS_Store
.cursor/
