# Ignore Python virtual environment
venv0/

# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pycache/

# Ignore Python local editable package
*.egg-info/

# Ignore all folders under apps
apps/
downloads/

# Ignore device.json file
device.json

.DS_Store