[Unit]
Description=Dartsnut Python Service
After=bluetooth.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/rpi/dartsnut_rpi
Environment=DARTSNUT_LOG_LEVEL=INFO
ExecStart=/root/.local/bin/uv run main.py
Restart=always

[Install]
WantedBy=multi-user.target