[Unit]
Description=Dartsnut RGB Matrix Service
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target basic.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/rpi/dartsnut_rpi
ExecStart=/home/rpi/dartsnut_rpi/DartsnutRGBMatrix
Restart=on-failure

[Install]
WantedBy=sysinit.target
