[Unit]
Description=PixelDarts Early Splash Screen
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target basic.target

[Service]
Type=simple
ExecStart=/usr/local/bin/splash_matrix /boot/pixeldarts_logo.ppm
StandardOutput=null
StandardError=null
OOMScoreAdjust=-1000
# Kill the process immediately when the service is stopped.
KillMode=control-group
KillSignal=SIGKILL
SendSIGKILL=yes
TimeoutStopSec=1s

[Install]
WantedBy=sysinit.target


